body {
    margin: 0;
    overflow: hidden;
}

body * {
    box-sizing: border-box;
}

h1 {
    font-size: 6rem;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: .5em 0 0 0;
    margin: 0;
}

.main-player {
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-areas: 'clue ctrl';
    height: 100vh;
}

.container-clue {
    grid-area: clue;
    background-image: url('../images/playerBackground1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-playerControl {
    width: 400px;
    grid-area: ctrl;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: -5px 0 30px black;
}

.player-time {
    display: flex;
    font-size: 6rem;
    font-weight: bold;
    letter-spacing: .1em;
}

.clue-modal {
    background: rgb(35, 191, 243);
    border: 3px solid white;
    border-radius: 20px;
    width: 90%;
    min-height: 50%;
    box-shadow: 5px 5px 10px black;
    opacity: 0;
    transition: opacity 1s;
}

.clue-modal-header {
    border-bottom: 3px solid white;
    text-align: center;
}

#clue-text {
    text-align: center;
    font-size: 2.5rem;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    padding: 1rem;
}

#button-request {
    width: fit-content;
    padding: .75em 1em;
    font-size: 2rem;
    border: 10px groove rgba(178, 34, 34, 0.75);
    border-radius: 50%;
    aspect-ratio: 1/1;
    background: rgba(178, 34, 34, 0.75);
    color: white;
    margin: 0 auto;
    cursor: pointer;
}

#button-request:hover {
    border: 10px groove rgba(255, 255, 255, 0.75);
}

@media(max-width:900px) {
    .main-player {
        grid-template-columns: 1fr;
        grid-template-rows: 200px auto;

        grid-template-areas: 
            'ctrl'
            'clue';
    }

    .container-playerControl {
        flex-direction: row;
        width: 100vw;
    }

    .player-time p {
        margin: 0;
    }

    #button-request {
        border-radius: 5px;
        aspect-ratio: unset;
        margin: 0;
    }
}

